body{
    margin: 0;
}

.grid
{
    width: 100%;
    display: block;
    padding: 0;
    
}

.grid.wide
{
    max-width: 1200px;
    margin: 0 auto;

}



h1{
    padding: 100px 0;
    font-size: 100px;
    color: white;
    margin: 0;
}

.container{
    background-color: orange;
   text-align: center;
}